@import '@stackbit/components/styles/default.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'theme.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://api.fontshare.com/css?f[]=general-sans@600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'General Sans', sans-serif;
}
h6 {
    color: #F8F7FA;
    background: rgb(96,81,188);
    background: linear-gradient(90deg, rgba(96,81,188,1) 0%, rgba(125,84,208,1) 100%);
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
    display: inline;
}

.colors-a p, .colors-h p {
    color: red
}

.colors-f p {
    color: green
}

