@import '@stackbit/components/styles/default.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'theme.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400, 500, 600&display=swap');
@import url('https://api.fontshare.com/css?f[]=general-sans@400, 401, 500, 600&display=swap');
@import url('https://api.fontshare.com/css?f[]=satoshi@400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    line-height: 1.3;
}


h6 {
    color: #F8F7FA;
    background: rgb(96,81,188);
    background: linear-gradient(90deg, rgba(96,81,188,1) 0%, rgba(125,84,208,1) 100%);
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: inline;
}


code {
    font-family: Inter, sans-serif;
    color: #6B6C82;
    background: #EEEDF2;
    border: 1px solid #C6C5D6;
    padding: 20px 16px 20px 16px;
    margin: 24px;
    border-radius: 20px;
    display: block;
    box-shadow: 0px 10px 20px rgba(96, 81, 188, 0.2);
}

.sb-markdown p {
    margin-bottom: 12px;
}



.sb-markdown h5 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
}

.sb-markdown h4 {
    margin-top: 36px;
    margin-bottom: 12px;
    font-weight: 500;
}

.sb-markdown h3 {
    margin-top: 80px;
    margin-bottom: 32px;
}

.sb-markdown h2 {
    margin-top: 80px;
    margin-bottom: 42px;
}

.colors-h p {
    color: #897ECD
}

.colors-a p {
    color: #6B6C82
}

.colors-i p {
    color: #6B6C82
}

.colors-a h4 {
    color: #434459
}

.colors-f p {
    color: #AEAFB8
}
.sb-markdown table {
    border: none;
    box-shadow: 0px 14px 22px rgba(63, 51, 111, 0.2);
    background: #EEEDF2;
    border-radius: 14px;
}

.sb-markdown td {
    border: none;
    padding-left: 16px;     
}

.sb-markdown thead {
    border-top: solid 1px rgb(247, 246, 249);
}

.sb-markdown th {
    border-top: solid 1px rgb(247, 246, 249);
    border-right: none;
    border-bottom: none;
    padding-top: 14px;
    padding-left: 16px;
}

.sb-markdown tr {
    border-top: solid 1px #C6C5D6;
}

.sb-component-button-primary {
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(96,81,188,1) 0%, rgba(125,84,208,1) 100%);
}